*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    
    border: 2px solid black;
    text-align: center;
    
    
}

.container{
    margin-top: 20px;
    border: 2px solid red;
}